@import url("https://fonts.googleapis.com/css?family=Podkova&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Podkova", serif;
}

body, html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 99999;
}
.preloader .loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#cube-loader {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  position: fixed;
}
#cube-loader .caption {
  margin: 0 auto;
}
#cube-loader .cube-loader {
  width: 73px;
  height: 73px;
  margin: 0 auto;
  margin-top: 49px;
  position: relative;
  transform: rotateZ(45deg);
}
#cube-loader .cube-loader .cube {
  position: relative;
  transform: rotateZ(45deg);
  width: 50%;
  height: 50%;
  float: left;
  transform: scale(1.1);
}
#cube-loader .cube-loader .cube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #34495e;
  animation: cube-loader 2.76s infinite linear both;
  transform-origin: 100% 100%;
}
#cube-loader .cube-loader .loader-2 {
  transform: scale(1.1) rotateZ(90deg);
}
#cube-loader .cube-loader .loader-3 {
  transform: scale(1.1) rotateZ(180deg);
}
#cube-loader .cube-loader .loader-4 {
  transform: scale(1.1) rotateZ(270deg);
}
#cube-loader .cube-loader .loader-2:before {
  animation-delay: 0.35s;
}
#cube-loader .cube-loader .loader-3:before {
  animation-delay: 0.69s;
}
#cube-loader .cube-loader .loader-4:before {
  animation-delay: 1.04s;
}

@keyframes cube-loader {
  0%, 10% {
    transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}
.wrapper {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.ampher {
  color: #53c3ff;
}

nav {
  background: #fff;
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
  border-bottom: 1px solid #cccccc;
}

#checkbox-menu, #checkbox-cards,
.toggle {
  display: none;
}

ul.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0px 10px 0px;
  margin: 0;
  align-items: center;
  list-style-type: none;
}
ul.menu .logo-block {
  display: flex;
  flex-direction: row;
}
ul.menu .logo-block li a.logo {
  font-size: 2em;
  text-decoration: none;
  color: #262626;
}
ul.menu .logo-block li a.logo:hover {
  background: none;
}
ul.menu .menu-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
ul.menu .menu-block li a {
  color: #262626;
  text-decoration: none;
  align-self: center;
  font-size: 13px;
  padding: 10px 15px;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}
ul.menu .menu-block li a:hover {
  background: #262626;
  color: #fff;
  border-radius: 3px;
}

.promo .large-header {
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}
.promo .large-header .main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #262626;
  text-align: center;
  top: 40%;
  left: 50%;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 0.1em;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
}
.promo .large-header .main-title h1 {
  font-weight: normal;
}
.promo .large-header .main-title .bill {
  background: url("../img/bill.png") no-repeat;
  background-size: 300px;
  background-position: center;
  height: 300px;
  opacity: 0.8;
}
.promo .large-header .main-title .thin {
  font-weight: 200;
}

@media only screen and (max-width: 768px) {
  .promo .large-header .main-title {
    width: 100%;
    font-size: 0.8em;
    top: 40%;
  }
}
.main-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 100px;
}
.main-block .text {
  display: flex;
  justify-content: flex-start;
}
.main-block .text h1 {
  color: #262626;
  font-weight: normal;
  font-size: 60px;
}
.main-block .text h1 span#typing {
  font-size: 50px;
  border-bottom: 2px solid #262626;
}
.main-block .world-view {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-block .world-view .world-img {
  display: flex;
  justify-content: center;
}
.main-block .world-view .world-img img {
  height: 400px;
}
.main-block .world-view .view-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-block .world-view .view-modal a {
  text-decoration: none;
  color: #262626;
  border: 1px solid #262626;
  padding: 10px 20px 10px 20px;
  min-width: 183px;
  text-align: center;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
.main-block .world-view .view-modal a:nth-child(2) {
  margin-top: 20px;
}
.main-block .world-view .view-modal a:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about .logo {
  text-align: center;
  font-size: 3em;
}
.about .about-text {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
.about .about-text .text {
  text-align: center;
  width: 50%;
}
.about .about-text .laptop-img {
  display: flex;
  justify-content: center;
  width: 50%;
}
.about .about-text .laptop-img img {
  height: 400px;
}

@media (max-width: 1110px) {
  .about .about-text .laptop-img img {
    height: 300px;
  }
}
@media (max-width: 870px) {
  .about .about-text .text {
    width: 100%;
    padding: 5px;
  }
  .about .about-text .laptop-img {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .about .about-text .laptop-img img {
    height: 250px;
  }
}
@media (max-width: 360px) {
  .about .about-text .laptop-img img {
    height: 200px;
  }
}
.form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form form input, .form form textarea {
  margin-top: 20px;
  width: 200px;
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
}
.services .title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-size: 3em;
}
.services .products {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 100%;
}
.services .products .product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 33%;
}
.services .products .product .img {
  display: flex;
  justify-content: center;
}
.services .products .product .img img {
  height: 200px;
}
.services .products .product .description h3 {
  text-align: center;
  font-size: 2em;
  font-weight: normal;
}
.services .products .product .description p {
  text-align: center;
  font-size: 1em;
}
.services .products .product .more-info {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.services .products .product .more-info a {
  text-decoration: none;
  color: #262626;
  border: 1px solid #262626;
  padding: 10px 20px 10px 20px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
.services .products .product .more-info a:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

@media (max-width: 950px) {
  .services .products .product {
    width: 100%;
  }
}
@media (max-width: 991px) {
  body .consultation {
    margin-left: 20px;
  }
  body .consultation__title {
    font-size: 35px;
    line-height: 30px;
  }
  body .consultation img {
    width: 450px;
    top: 15%;
    right: 20%;
  }
}
@media (max-width: 767px) {
  body .consultation {
    margin-left: 20px;
  }
  body .consultation__title {
    font-size: 27px;
    line-height: 30px;
  }
  body .consultation img {
    width: 350px;
    top: 25%;
    right: 5%;
  }
}
@media (max-width: 575px) {
  body .consultation {
    margin: 0 auto;
    background: url("../img/cons.png") center center/cover no-repeat;
    background-size: 150px;
    background-position: 230px 310px;
  }
  body .consultation__title {
    text-align: center;
    font-size: 3em;
    line-height: 44px;
    text-transform: none;
  }
  body .consultation__descr {
    text-align: center;
    margin-top: 10px;
    font-size: 22px;
  }
  body .consultation img {
    display: none;
  }
  body .consultation form {
    margin: 0 auto;
    margin-top: 20px;
  }
}
.advantages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
}
.advantages .title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-size: 3em;
}
.advantages .swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.advantages .swiper-container .swiper-slide {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.advantages .swiper-container .swiper-slide i {
  font-size: 6em;
}
.advantages .swiper-container .swiper-slide h3 {
  font-weight: normal;
  margin-top: 10px;
}

.jobs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.jobs .title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-size: 3em;
}
.jobs .jobs-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 50px;
  width: 100%;
}
.jobs .jobs-images a {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 400px;
  text-decoration: none;
}
.jobs .jobs-images a .filter {
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: brightness(50%);
          backdrop-filter: brightness(50%);
}
.jobs .jobs-images a .filter .job-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: black;
  opacity: 0.7;
  padding: 5px 0px 5px 0px;
}
.jobs .jobs-images a .filter .job-text h4 {
  font-size: 2em;
  color: #fff;
}
.jobs .jobs-images a .filter .job-text p {
  font-size: 1em;
  color: #fff;
}
.jobs .jobs-images a#filei {
  background: url("../img/1.png") no-repeat top center;
  width: 35%;
  background-size: cover;
}
.jobs .jobs-images a#stenapol {
  background: url("../img/index-1200x-e27.png") no-repeat top center;
  width: 25%;
  background-size: cover;
}
.jobs .jobs-images a#magi {
  background: url("../img/3.png") no-repeat top center;
  width: 35%;
  background-size: cover;
}

@media (max-width: 460px) {
  .jobs .jobs-images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    width: 100%;
  }
  .jobs .jobs-images a#filei {
    background: url("../img/1.png") no-repeat top center;
    width: 100%;
    background-size: cover;
  }
  .jobs .jobs-images a#stenapol {
    background: url("../img/index-1200x-e27.png") no-repeat top center;
    width: 100%;
    background-size: cover;
  }
  .jobs .jobs-images a#magi {
    background: url("../img/3.png") no-repeat top center;
    width: 100%;
    background-size: cover;
  }
  .jobs .jobs-images a {
    margin-top: 20px;
  }
}
@media (max-width: 360px) {
  .jobs .jobs-images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    width: 100%;
  }
  .jobs .jobs-images a#filei {
    background: url("../img/1.png") no-repeat top center;
    width: 100%;
    background-size: cover;
  }
  .jobs .jobs-images a#stenapol {
    background: url("../img/index-1200x-e27.png") no-repeat top center;
    width: 100%;
    background-size: cover;
  }
  .jobs .jobs-images a#magi {
    background: url("../img/3.png") no-repeat top center;
    width: 100%;
    background-size: cover;
  }
  .jobs .jobs-images a {
    margin-top: 20px;
  }
}
footer {
  background: #262626;
  margin-top: 100px;
}
footer .footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0px 20px 0px;
}
footer .footer .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer .logo img {
  height: 200px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
footer .footer .links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
footer .footer .links li {
  list-style: none;
  margin-top: 10px;
}
footer .footer .links li a {
  text-decoration: none;
  color: #fff;
}
footer .footer .links li a.logo {
  margin-top: 0;
  font-size: 2em;
}
footer .footer .social {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
footer .footer .social a {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #2e2e2e;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
}
footer .footer .social a:last-child {
  margin-bottom: 0px;
}
footer .footer .social a i {
  margin-right: 10px;
}
footer .footer .social a img {
  height: 15px;
  margin-right: 10px;
}

@media screen and (max-width: 765px) {
  .toggle {
    clear: both;
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    width: 100%;
    color: white;
    background: #231f1e;
    transition: all 0.1s linear;
  }

  .toggle:hover {
    background: #231f1e;
  }

  #checkbox-menu:checked + label .touch li {
    opacity: 1;
    visibility: visible;
    transition: all 0.7s linear;
  }

  #checkbox-menu:checked + label .touch {
    height: 240px;
  }

  ul.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 0;
    padding: 0px;
    transition: height 0.3s linear;
  }
  ul.menu .menu-block {
    flex-direction: column;
  }
  ul.menu li {
    display: flex;
    align-self: center;
    width: 100%;
    opacity: 0;
    visibility: hidden;
  }
  ul.menu li a {
    width: 100%;
    text-align: center;
    align-self: center;
    align-content: center;
  }
  ul.menu li a.logo {
    font-size: 21px;
    margin-right: 0px;
  }
}
#modal-landing-page, #modal-online-shop, #modal-corporate, #modal-consult {
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
#modal-landing-page .popup, #modal-online-shop .popup, #modal-corporate .popup, #modal-consult .popup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  padding: 20px;
  width: 400px;
  background: #fff;
  z-index: 99999;
  opacity: 1;
}
#modal-landing-page .popup .modal-header, #modal-online-shop .popup .modal-header, #modal-corporate .popup .modal-header, #modal-consult .popup .modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#modal-landing-page .popup .modal-header .title, #modal-online-shop .popup .modal-header .title, #modal-corporate .popup .modal-header .title, #modal-consult .popup .modal-header .title {
  display: flex;
}
#modal-landing-page .popup .modal-header .title h3, #modal-online-shop .popup .modal-header .title h3, #modal-corporate .popup .modal-header .title h3, #modal-consult .popup .modal-header .title h3 {
  font-size: 2em;
  font-weight: normal;
}
#modal-landing-page .popup .modal-header .popup-close, #modal-online-shop .popup .modal-header .popup-close, #modal-corporate .popup .modal-header .popup-close, #modal-consult .popup .modal-header .popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
}
#modal-landing-page .popup .modal-header .popup-close i, #modal-online-shop .popup .modal-header .popup-close i, #modal-corporate .popup .modal-header .popup-close i, #modal-consult .popup .modal-header .popup-close i {
  font-size: 1.3em;
  color: #616161a6;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}
#modal-landing-page .popup .modal-header .popup-close i:hover, #modal-online-shop .popup .modal-header .popup-close i:hover, #modal-corporate .popup .modal-header .popup-close i:hover, #modal-consult .popup .modal-header .popup-close i:hover {
  color: #262626;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
#modal-landing-page .popup .modal-img, #modal-online-shop .popup .modal-img, #modal-corporate .popup .modal-img, #modal-consult .popup .modal-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}
#modal-landing-page .popup .modal-img img, #modal-online-shop .popup .modal-img img, #modal-corporate .popup .modal-img img, #modal-consult .popup .modal-img img {
  height: 200px;
}
#modal-landing-page .popup .modal-text, #modal-online-shop .popup .modal-text, #modal-corporate .popup .modal-text, #modal-consult .popup .modal-text {
  display: flex;
  margin-top: 10px;
}
#modal-landing-page .popup .write-message, #modal-online-shop .popup .write-message, #modal-corporate .popup .write-message, #modal-consult .popup .write-message {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
#modal-landing-page .popup .write-message a, #modal-online-shop .popup .write-message a, #modal-corporate .popup .write-message a, #modal-consult .popup .write-message a {
  text-decoration: none;
  color: #262626;
  border: 1px solid #262626;
  padding: 10px 20px 10px 20px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
#modal-landing-page .popup .write-message a:hover, #modal-online-shop .popup .write-message a:hover, #modal-corporate .popup .write-message a:hover, #modal-consult .popup .write-message a:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}
#modal-landing-page .popup .form, #modal-online-shop .popup .form, #modal-corporate .popup .form, #modal-consult .popup .form {
  display: flex;
  justify-content: center;
}
#modal-landing-page .popup .form form, #modal-online-shop .popup .form form, #modal-corporate .popup .form form, #modal-consult .popup .form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 460px) {
  #modal-landing-page .popup, #modal-online-shop .popup, #modal-corporate .popup {
    width: 300px;
  }
  #modal-landing-page .popup .modal-header, #modal-online-shop .popup .modal-header, #modal-corporate .popup .modal-header {
    text-align: center;
    font-size: 14px;
  }
  #modal-landing-page .popup .modal-text, #modal-online-shop .popup .modal-text, #modal-corporate .popup .modal-text {
    font-size: 14px;
  }
}
@media (max-width: 360px) {
  #modal-landing-page .popup, #modal-online-shop .popup, #modal-corporate .popup {
    width: 270px;
  }
  #modal-landing-page .popup .modal-header, #modal-online-shop .popup .modal-header, #modal-corporate .popup .modal-header {
    text-align: center;
    font-size: 14px;
  }
  #modal-landing-page .popup .modal-img img, #modal-online-shop .popup .modal-img img, #modal-corporate .popup .modal-img img {
    width: 50%;
    height: 50%;
  }
  #modal-landing-page .popup .modal-text, #modal-online-shop .popup .modal-text, #modal-corporate .popup .modal-text {
    font-size: 14px;
  }
}
.button {
  font-family: "Podkova", serif;
  width: 250px;
  height: 50px;
  background-color: #fff;
  border: none;
  color: #000000;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  border: 1px solid #000000;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.5s all;
}
.button_submit {
  font-weight: normal;
  width: 100%;
  height: 55px;
  font-size: 16px;
}
.button:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}
.button_watch {
  width: 100%;
  height: 55px;
  font-size: 16px;
}

.consultation {
  position: relative;
  padding: 100px 0 92px 0;
  /* 
  background: url('../img/consultation-bg.png') center (center/cover) no-repeat; */
}
.consultation__title {
  color: #000000;
  counter-reset: #ebebeb;
  font-size: 3em;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
  line-height: 54px;
}
.consultation__descr {
  margin-top: 20px;
  color: #000000;
  font-size: 20px;
  font-weight: 500;
}
.consultation img {
  position: absolute;
  right: 13%;
  top: 13%;
  z-index: -1;
}

.feed-form {
  margin-top: 26px;
  display: flex;
  flex-direction: column;
}
.feed-form_mt25 {
  margin-top: 25px;
}

.feed-form input {
  height: 50px;
  border-radius: 3px;
  border: 1px solid #000000;
  background-color: #fff;
  margin-bottom: 15px;
  padding: 0 20px;
  color: #4b4b4b;
  font-size: 14px;
  font-weight: 300;
}
.feed-form input:nth-child(3) {
  margin-bottom: 20px;
}