@import url('https://fonts.googleapis.com/css?family=Podkova&display=swap');
* {
padding: 0;
margin: 0;
font-family: 'Podkova', serif;
}
body, html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 99999;
    .loader{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);    
    }
}
#cube-loader {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  position: fixed;
  & .caption {
    margin: 0 auto;
  }
  .cube-loader {
    width: 73px;
    height: 73px;
    margin: 0 auto;
    margin-top: 49px;
    position: relative;
    transform: rotateZ(45deg);

    & .cube {
      position: relative;
      transform: rotateZ(45deg);
      width: 50%;
      height: 50%;
      float: left;
      transform: scale(1.1);
    }
    & .cube:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(52, 73, 94, 1.0);
      animation: cube-loader 2.76s infinite linear both;
      transform-origin: 100% 100%;
    }
    & .loader-2 {
      transform: scale(1.1) rotateZ(90deg);
    }
    & .loader-3 {
      transform: scale(1.1) rotateZ(180deg);
    }
    & .loader-4 {
      transform: scale(1.1) rotateZ(270deg);
    }
    & .loader-2:before {
      animation-delay: 0.35s;
    }
    & .loader-3:before {
      animation-delay: 0.69s;
    }
    & .loader-4:before {
      animation-delay: 1.04s;
    }
  }
}

@keyframes cube-loader {
  0%, 10% {
    transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}
.wrapper{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}
.ampher{
    color: rgb(83, 195, 255);
}
nav {
background: #fff;
margin: 0 auto;
max-width: 1100px;
width: 100%;
border-bottom: 1px solid rgb(204, 204, 204);
}
#checkbox-menu, #checkbox-cards,
.toggle {
display: none;
}
ul.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    padding: 10px 0px 10px 0px;
    margin: 0;
    align-items: center;
    list-style-type: none;
    .logo-block{
        display: flex;
        flex-direction: row;
        li a.logo {
            font-size: 2em;
            text-decoration: none;
            color: #262626;
            &:hover{
                background: none;
            }
        }
    }
    .menu-block{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        li a {
            color: #262626;
            text-decoration: none;
            align-self: center;
            font-size: 13px;
            padding: 10px 15px;
            transition: all 0.2s linear;
            -webkit-transition: all 0.2s linear;
            -moz-transition: all 0.2s linear;
            -ms-transition: all 0.2s linear;
            -o-transition: all 0.2s linear;
            &:hover{
                background: #262626;
                color: #fff;
                border-radius: 3px;
            }
        }
    }
}
.promo{
    .large-header {
        position: relative;
        width: 100%;
        overflow: hidden;
        z-index: 1;
        // background: #fff;
            .main-title {
            position: absolute;
            margin: 0;
            padding: 0;
            color: #262626;
            text-align: center;
            top: 40%;
            left: 50%;
            text-transform: uppercase;
            font-size: 1em;
            font-weight: 200;
            letter-spacing: 0.1em;
            transform: translate3d(-50%, -50%, 0);
            -webkit-transform: translate3d(-50%, -50%, 0);
            -moz-transform: translate3d(-50%, -50%, 0);
            -ms-transform: translate3d(-50%, -50%, 0);
            -o-transform: translate3d(-50%, -50%, 0);
            h1{
                font-weight: normal;
            }
            .bill{
                background: url('../img/bill.png') no-repeat;
                background-size: 300px;
                background-position: center;
                height: 300px;
                opacity: 0.8;
            }
            .thin {
                font-weight: 200;
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    .promo{
        .large-header {
            .main-title {
                width: 100%;
                font-size: 0.8em;
                top: 40%;
            }
        }
    }
}
.main-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 100px;
    .text{
        display: flex;
        justify-content: flex-start;
        h1{
            color: #262626;
            font-weight: normal;
            font-size: 60px;
            span#typing{
                font-size: 50px;
                border-bottom: 2px solid #262626;
            }
        }
    }
    .world-view{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .world-img{
            display: flex;
            justify-content: center;
            img{
                height: 400px;
            }
        }
        .view-modal{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            a{
                text-decoration: none;
                color: #262626;
                border: 1px solid #262626;
                padding: 10px 20px 10px 20px;
                min-width: 183px;
                text-align: center;
                border-radius: 3px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                -ms-border-radius: 3px;
                -o-border-radius: 3px;
                transition: all 0.3s linear;
                -webkit-transition: all 0.3s linear;
                -moz-transition: all 0.3s linear;
                -ms-transition: all 0.3s linear;
                -o-transition: all 0.3s linear;
                &:nth-child(2){
                    margin-top: 20px;
                }
                &:hover{
                    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
                }
            }
        }
    }
}
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    .logo{
        text-align: center;
        font-size: 3em;
    }
    .about-text{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 50px;
        .text{
            text-align: center;
            width: 50%;
        }
        .laptop-img{
            display: flex;
            justify-content: center;
            width: 50%;
            img{
                height: 400px;
            }
        }
    }
}
@media (max-width: 1110px){
    .about{
        .about-text{
            .laptop-img{
                img{
                    height: 300px;
                }
            }
        }
    }
}
@media (max-width: 870px){
    .about{
        .about-text{
            .text{
                width: 100%;
                padding: 5px;
            }
            .laptop-img{
                width: 100%;
            }
        }
    }
}
@media (max-width: 425px){
    .about{
        .about-text{
            .laptop-img{
                img{
                    height: 250px;
                }
            }
        }
    }
}
@media (max-width: 360px){
    .about{
        .about-text{
            .laptop-img{
                img{
                    height: 200px;
                }
            }
        }
    }
}
.form{
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        input, textarea{
            margin-top: 20px;
            width: 200px;
        }
    }
}
.services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    .title{
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        font-size: 3em;
    }
    .products{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 50px;
        width: 100%;
        .product{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 33%;
            .img{
                display: flex;
                justify-content: center;
                img{
                    height: 200px;
                }
            }
            .description{
                h3{
                    text-align: center;
                    font-size: 2em;
                    font-weight: normal;
                }
                p{
                    text-align: center;
                    font-size: 1em;
                }
            }
            .more-info{
                display: flex;
                justify-content: center;
                margin-top: 10px;
                a{
                    text-decoration: none;
                    color: #262626;
                    border: 1px solid #262626;
                    padding: 10px 20px 10px 20px;
                    border-radius: 3px;
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    -ms-border-radius: 3px;
                    -o-border-radius: 3px;
                    transition: all 0.3s linear;
                    -webkit-transition: all 0.3s linear;
                    -moz-transition: all 0.3s linear;
                    -ms-transition: all 0.3s linear;
                    -o-transition: all 0.3s linear;
                    &:hover{
                        box-shadow: 0 5px 20px rgba(0,0,0,0.5);
                    }
                }
            }
        }
    }
}
@media (max-width: 950px){
    .services{
        .products{
            .product{
                width: 100%;
            }
        }
    }
}
@media (max-width: 991px){
    body .consultation {
        margin-left: 20px;
        &__title {
            font-size: 35px;
            line-height: 30px;
        }
        img {
            width: 450px;
            top: 15%;
            right: 20%;
        }
    }
}
@media (max-width: 767px){
    body .consultation {
        margin-left: 20px;
        &__title {
            font-size: 27px;
            line-height: 30px;
        }
        img {
            width: 350px;
            top: 25%;
            right: 5%;
        }
    }
}
@media (max-width: 575px){
    body .consultation {
        margin: 0 auto;
        background: url('../img/cons.png') center (center/cover) no-repeat;
        background-size: 150px;
        background-position: 230px 310px;
        &__title {
            text-align: center;
            font-size: 3em;
            line-height: 44px;
            text-transform: none;
        }
        &__descr {
            text-align: center;
            margin-top: 10px;
            font-size: 22px;
        }
        img {
            display: none;
        }
        form {
            margin: 0 auto;            
            margin-top: 20px;
        }
    }
}
.advantages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    .title{
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        font-size: 3em;
    }
    .swiper-container {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
        .swiper-slide {
            width: 300px;
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            i{
                font-size: 6em;
            }
            h3{
                font-weight: normal;
                margin-top: 10px;
            }
        }
    }
}
.jobs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    .title{
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        font-size: 3em;
    }
    .jobs-images{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 50px;
        width: 100%;
        a{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            height: 400px;
            text-decoration: none;
            .filter{
                display: none;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-end;
                width: 100%;
                height: 100%;
                backdrop-filter: brightness(50%);
                .job-text{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    background: black;
                    opacity: 0.7;
                    padding: 5px 0px 5px 0px;
                    h4{
                        font-size: 2em;
                        color: #fff;
                    }
                    p{
                        font-size: 1em;
                        color: #fff;
                    }
                }
            }
            // &:hover{
            //     .filter{
            //         display: flex;
            //     }
            // }
        }
        a#filei{
            background: url('../img/1.png') no-repeat top center;
            width: 35%;
            background-size: cover;
        }
        a#stenapol{
            background: url('../img/index-1200x-e27.png') no-repeat top center;
            width: 25%;
            background-size: cover;
        }
        a#magi{
            background: url('../img/3.png') no-repeat top center;
            width: 35%;
            background-size: cover;
        }
    }
}
@media (max-width: 460px){
    .jobs {
        .jobs-images{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding-top: 50px;
            width: 100%;
                a#filei{
                    background: url('../img/1.png') no-repeat top center;
                    width: 100%;
                    background-size: cover;
                }
                a#stenapol{
                    background: url('../img/index-1200x-e27.png') no-repeat top center;
                    width: 100%;
                    background-size: cover;
                }
                a#magi{
                    background: url('../img/3.png') no-repeat top center;
                    width: 100%;
                    background-size: cover;
                }
                a {
                    margin-top: 20px;
                }
        }
    }
}
@media (max-width: 360px){
    .jobs {
        .jobs-images{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding-top: 50px;
            width: 100%;
            a#filei{
                background: url('../img/1.png') no-repeat top center;
                width: 100%;
                background-size: cover;
            }
            a#stenapol{
                background: url('../img/index-1200x-e27.png') no-repeat top center;
                width: 100%;
                background-size: cover;
            }
            a#magi{
                background: url('../img/3.png') no-repeat top center;
                width: 100%;
                background-size: cover;
            }
            a {
                margin-top: 20px;
            }
        }
    }
}
footer{
    background: #262626;
    margin-top: 100px;
    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding: 20px 0px 20px 0px;
        .logo{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                height: 200px;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
            }
        }
        .links{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            li{
                list-style: none;
                margin-top: 10px;
                a{
                    text-decoration: none;
                    color: #fff;
                }
                a.logo{
                    margin-top: 0;
                    font-size: 2em;
                }
            }
        }
        .social{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            a{
                display: flex;
                flex-direction: row;
                align-items: center;
                background: #2e2e2e;
                text-decoration: none;
                color: #fff;
                padding: 10px;
                margin-bottom: 10px;
                &:last-child{
                    margin-bottom: 0px;
                }
                i{
                    margin-right: 10px;
                }
                img{
                    height: 15px;
                    margin-right: 10px;
                }
            }
        }
    }
}
@media screen and (max-width: 765px) {
    .toggle {
      clear: both;
      display: block;
      text-align: center;
      font-size: 18px;
      line-height: 40px;
      width: 100%;
      color: white;
      background: #231f1e;
      transition: all 0.1s linear;
    }
    .toggle:hover {
      background: #231f1e;
    }
    #checkbox-menu:checked + label .touch li {
      opacity: 1;
      visibility: visible;
      transition: all 0.7s linear;
    }
    #checkbox-menu:checked + label .touch {
      height: 240px;
    }
    ul.menu {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 0;
      padding: 0px;
      transition: height 0.3s linear;
        .menu-block{
            flex-direction: column;
        }
        li {
            display: flex;
            align-self: center;
            width: 100%;
            opacity: 0;
            visibility: hidden;
            a {
                width: 100%;
                text-align: center;
                align-self: center;
                align-content: center;
            }
            a.logo {
                font-size: 21px;
                margin-right: 0px;
            }
        }
    }
}

#modal-landing-page, #modal-online-shop, #modal-corporate, #modal-consult {
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    backdrop-filter: blur(5px);
    .popup {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        padding: 20px;
        width: 400px;	
        background: #fff;
        z-index: 99999;
        opacity: 1;	
        .modal-header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .title{
                display: flex;
                h3{
                    font-size: 2em;
                    font-weight: normal;
                }
            }
            .popup-close {
                position: absolute;
                top: 10px;
                right: 10px;
                i{
                    font-size: 1.3em;
                    color: #616161a6;
                    transition: all .2s linear;
                    -webkit-transition: all .2s linear;
                    -moz-transition: all .2s linear;
                    -ms-transition: all .2s linear;
                    -o-transition: all .2s linear;
                    &:hover{
                        color: #262626;
                        transform: rotate(90deg);
                        -webkit-transform: rotate(90deg);
                        -moz-transform: rotate(90deg);
                        -ms-transform: rotate(90deg);
                        -o-transform: rotate(90deg);
                    }
                }
            }
        }
        .modal-img{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-top: 10px;
            img{
                height: 200px;
            }
        }
        .modal-text{
            display: flex;
            margin-top: 10px;
        }
        .write-message{
            display: flex;
            justify-content: center;
            margin-top: 10px;
            a{
                text-decoration: none;
                color: #262626;
                border: 1px solid #262626;
                padding: 10px 20px 10px 20px;
                border-radius: 3px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                -ms-border-radius: 3px;
                -o-border-radius: 3px;
                transition: all 0.3s linear;
                -webkit-transition: all 0.3s linear;
                -moz-transition: all 0.3s linear;
                -ms-transition: all 0.3s linear;
                -o-transition: all 0.3s linear;
                &:hover{
                    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
                }
            }
        }
        .form{
            display: flex;
            justify-content: center;
            form{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
}
@media (max-width: 460px){
    #modal-landing-page, #modal-online-shop, #modal-corporate {
        .popup {
            width: 300px;
            .modal-header {
                text-align: center;
                font-size: 14px;
            }
            .modal-text {
                font-size: 14px;
            }
        }
    }
}
@media (max-width: 360px){
    #modal-landing-page, #modal-online-shop, #modal-corporate {
        .popup {
            width: 270px;
            .modal-header {
                text-align: center;
                font-size: 14px;
            }
            .modal-img {
                img {
                    width: 50%;
                    height: 50%;
                }
            }
            .modal-text {
                font-size: 14px;
            }
        }
    }
}
@import 'blocks/button';
@import 'blocks/cosultation';
@import 'blocks/forms';